<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bodybuilding Competition</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        html{
        padding:50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="page-header text-center">
            <h1>Information</h1>
            <!-- <a href="/logout" class="btn btn-danger btn-sm">Logout</a> -->
            <a href="profile"><span class="fa fa-arrow-left" title="Profile"></span></a>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h4>Bodybuilding Competition</h4>
                    <p>
                        -Kỉ niệm 45 năm giải phóng bình thuận góp phần nâng cao nhận thức của nhân dân về ý nghĩa của tập luyện thể dục thể thao.<br>
                        -Với mục đích tạo sân chơi lành mạnh, bổ ích nhằm duy trì phong trào rèn luyện thể chất nâng cao sức khỏe cộng đồng. 
                        <strong>Công ty Thể Hình Việt</strong> tổ chức Giải thi đáu thể hình nam - nữ bãi biển năm 2020 tại Thành Phố Phan Thiết - Tỉnh Phan Thiết.
                        -Trong sự kiện này có sự góp mặt của những nhà vô địch trong làng thể hình của Viêt Nam gồm: <span>Lý Đức, Phạm Văn Mách, Nguyễn Hải Âu.</span> <br>
                        -RẤT MONG CUỘC THI NÀY SẼ ĐÓN NHẬN ĐƯỢC NHIỀU TÌNH CẢM CỦA CÁC ANH CHỊ EM TRONG LÀNG GIM.
                    </p>
                    <h5>Thời gian: <span>8h ngày 30/6/2020</span></h5>
                    <h5>Địa điểm: <span>Bãi biển Phan Thiết - Thành Phố Phan Thiết</span></h5>
                </div>
            </div>
        </div>
    </div>
</body>
</html>